# Python
venv/
__pycache__/
*.pyc
*.pyo
*.pyd
.Python

# Git
.git/
.gitignore

# Documentation
*.md
README*
LICENSE

# IDE
.vscode/
.idea/
*.swp
*.swo

# Docker
Dockerfile
.dockerignore

# Other
.DS_Store
*.log

# Temporary/artifact files
=
[internal]
ERROR
extracting
resolve
transferring
.LAST_RELEASE
sha256:*
